@using EcommerceOsorio.Models
@model List<Produto>
@{
    ViewBag.Title = "Index";
    List<Categoria> categorias = ViewBag.Categorias;
}

<ul class="nav nav-tabs">

    @foreach (Categoria categ in categorias)
    {
        <li class="nav-item">
            @Html.ActionLink(categ.NomeCategoria, "Index", "Home", new { id = categ.CategoriaId }, new { @class = "nav-link active show" })
        </li>
    }

</ul>

<div class="row">
    @foreach (var produto in Model)
    {
        <div class="col-sm-3" style="text-align:center; margin-bottom: 30px">
            <img src="~/Images/@produto.ImagemProduto" style="width:150px;height:150px;margin-bottom:15px"/><br />
            @Html.ActionLink(produto.NomeProduto, "ProdutoDetalhe", new { id = produto.ProdutoId}) <br />
            <b>Preço: R$</b>@produto.PrecoProduto
        </div>
    }

</div>

